extends layout

block content
  h1 BLOG

  p Please login or
    a(href="/register") register
  form(method="post" action="/login")
    input(type="text" name="username" placeholder="username" )
    br
    input(type="password" name="password" placeholder="password")
    br
    input(type="submit" value="Login")
